<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <head>
        <meta charset="utf-8">
        <title>操作日志</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all" />
        <link rel="stylesheet" th:href="@{/css/public.css}" href="../../static/css/public.css" media="all" />
    </head>
    <body class="childrenBody">
        <form class="layui-form">
            <!--查询-->
            <blockquote class="layui-elem-quote quoteBox">
                <form class="layui-form">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" id="loginName" class="layui-input" placeholder="操作用户" />
                        </div>
                        <button type="button" class="layui-btn" id="search">
                            <i class="layui-icon">&#xe615;</i> 搜索
                        </button>
                    </div>
                    <div shiro:hasPermission="sys:log:delete" class="layui-inline" id="batchDelete">
                        <button type="button" class="layui-btn layui-btn-danger">
                            <i class="layui-icon">&#xe608;</i> 批量删除
                        </button>
                    </div>
                </form>
            </blockquote>

            <table id="logTableList" lay-filter="logTableList"></table>

            <div>
                <script type="text/javascript">
                    var auth_delete = 'layui-hide';
                </script>
            </div>
            <div shiro:hasPermission="sys:log:delete">
                <script type="text/javascript">
                    auth_delete = '';
                </script>
            </div>
            <!--操作-->
            <script type="text/html" id="operateBar">

            </script>
        </form>
        <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
        <script type="text/javascript" th:src="@{/js/sys/log-list.js}" ></script>
    </body>
</html>