<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eningqu.mapper.OrdersDetailMapper">
    <select id="selectOrderDetailByNumber" resultType="com.eningqu.domain.api.OrdersDetail">
        SELECT id, uid, order_number, product_id, order_price, order_quantity, remarks FROM dy_orders_detail where order_number=#{orderNumber}
    </select>
</mapper>
